body   {
    margin: 0%;
    padding: 0%;
    background-image: url('image.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

.container   {
    margin: 100px auto;
    text-align: center;

}

h1   {
    font-size: 6em;
    font-family:'Times New Roman', Times, serif;
    color: red;

}

p   {
    font-size: 10em;
    color: black;

}

button   {
    border: none;
    padding: 18px 10px;
    font-size: 1.2em;
    font-family: 'Times New Roman', Times, serif;
    width: 180px;
    margin: 10px;
    margin-top: 150px;
}
button:hover   {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: 0.4s;
    border: none;
}

p.time   {
    border: 10px solid gray;
    border-radius: 25px;
    margin: auto;
    padding: 10px 0px 10px 0px;
}

footer .text   {
    margin-top: 50px;
    text-align: center;
}


/* Responsive Media Query */
@media (max-width: 1190px) {
    body  {
      width: 100%
      height: 100%;
    }
  }
@media (max-width: 1000px) {
    body   {
      width: 100%
      height: 100%;
  }
@media (max-width: 900px) {
    body {
      width: 100%
      height: 100%;
    }
  }
  
  @media (max-width: 750px) {
    body  {
      width: 100%
      height: 100%;
    }
    
  
  @media (max-width: 500px){
    body  {
        width: 100%
        height: 100%;
    }
